
@import "reset.css";

/* basis font */
h1,h2,h3,h4,h5,h6{font-family: 'Signika', sans-serif !important;}
h1{font-size:28px !important}
h2{font-size:22px !important}
h3{font-size:20px !important}
h4{font-size:16px !important}
h5{font-size:14px !important}
h6{font-size:12px !important}

a:hover{color:#333333 !important}
i{margin-right:5px !important;}

strong,.strong{font-weight:900 !important;}

body{font-family:'Signika',Helvetica !important;font-weight:400 !important}
p{font-family:'Signika',Helvetica !important;font-weight:400 !important}
div,section{font-family:'Signika',Helvetica !important;font-weight:400 !important}
textarea{font-family:'Signika', Helvetica !important;font-weight:400 !important}

.ptsans-regular{font-family:'Signika', Helvetica !important;}
.ptsans-regular-bold{font-family:'Signika', Helvetica !important;}

.ptsans-narrow{font-family:'Signika', Helvetica !important;}
.ptsans-narrow-bold{font-family:'Signika', Helvetica !important;}
.fs11{font-size:11px !important;}
.fs12{font-size:12px !important;}
.fs14{font-size:14px !important;}
.fs16{font-size:16px !important;}
.fs18{font-size:18px !important;}
.fs20{font-size:20px !important;}
.fs22{font-size:22px !important;}
.fs24{font-size:24px !important;}
.fs26{font-size:26px !important;}
.fs28{font-size:28px !important;}

a{color:#999999 !important;text-decoration:none !important}
a:hover,a.selected{color:#555555 !important;text-decoration:underline !important}

.clearfix{display:block;}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; margin-bottom: 0 }

.center{text-align:center !important;}
.left{text-align:left !important;}
.right{text-align:right !important;}

.pointer{cursor:pointer}
.underline{text-decoration:underline}

.radius5{
			-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	border-radius: 5px;
}

.radius10{
			-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	border-radius: 10px;
}
.circle-radius{
	border-radius: 50%;
		-webkit-border-radius:50%;
			-moz-border-radius:50%;
}
.float-left{float:left}
.float-right{float:right}

input{
	font-family:'Signika', Helvetica !important;
	font-size:14px;
	border-color: #989EA4 -moz-use-text-color #BABFC5 #AAB0B6;
  border-style: solid none solid solid;
  border-width: 1px medium 1px 1px;
	padding:3px 5px;
}

/** styling */
.full{width:100%;margin:auto;}
.wrapper{width:1140px;margin:auto;}
.adminlogin{background: #0C1823;min-height: 641px;color:#FFFFFF;position: relative;}


button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#42aaff 0%,
		#003366);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#42aaff),
		to(#003366));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #003366;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}
.top-border{
	background:#1B1B1B;
	background: linear-gradient(#1B1B1B, #0C0C0C);
	background: 	-webkit-gradient(linear, 0 0, 0 bottom, from(#1B1B1B), to(#0C0C0C));
	background: 	-webkit-linear-gradient(#1B1B1B, #0C0C0C);
	background: 		-moz-linear-gradient(#1B1B1B, #0C0C0C);
	background: 		-ms-linear-gradient(#1B1B1B, #0C0C0C);
	background: 			-o-linear-gradient(#1B1B1B, #0C0C0C);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1B1B1B', endColorstr='#0C0C0C');/*For IE7-8-9*/
	height:40px;
	box-shadow: 0 1px 15px #666666;
	color:#FFFFFF;
}
.top-border ul{

	float: right;
	}
.top-border ul li{
	float: left;
	height: 30px;
	padding:5px 8px;
}
.top-border ul li a{
	cursor: pointer;
	color:#FFFFFF;
}
.top-border ul li a:hover{
	background: #232323;
}
.left-navigation{
	margin-right: 50px;
	background:#2E363F;
	min-height: 1200px;
	height:1040px;
	width:20%;
	height:100%;
}

#accordian {
	
	margin: 0 auto;
	
}
#accordian ul{
	margin:0;
}
/*heading styles*/
#accordian h3 {
	font-size: 14px !important;
	line-height: 34px;
	padding: 10px;
	text-transform: uppercase;
	color:#EAEAEA;
	font-weight: normal !important;
	cursor: pointer;
	margin:0 !important;
	/*fallback for browsers not supporting gradients*/
	
	border-bottom: 1px solid #1F262D;
}
/*heading hover effect*/
#accordian h3:hover {
	color:#3A825E;
	transition: all 0.15s;
	border-left: 5px solid #3A825E;
	
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
	position: relative;
}
/*links*/
#accordian ul ul li a {
	color: #EAEAEA !important;
	text-decoration: none;
	font-size: 16px;
	line-height: 35px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	color:#53E29B !important;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	background: #3A825E;
	display: none;
}
.content{
	margin-right:90px;
	padding:60px;
	float: right;
	width:60%;
}
.heading{
	font-size:36px;
	letter-spacing: 2px;
}

.maintable{
	border-bottom: 2px solid #8B8B8B;
	width: 100%;
	margin:20px 0;
}
.default-color{
	border:1px solid #DDDDDD;
}
.maintable thead tr{
	background: #71C39A;
}
.maintable thead tr th{
	padding:7px 5px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1.5px;
}

.maintable tbody tr td{
	border-color:#DDDDDD;
	border-width: 1px;
	border-style: solid;
	padding:5px 10px;
}
.maintable tbody tr:nth-child(even) {
	background: #FAFAFA;
}
.main{
	padding:20px 0;
}
.dashboardmenu{
	margin:5px 10px;padding:10px 8px;color:#FFFFFF;background:#32C17A;
}

.pagination {
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.select-seat:hover{
	background: #333333 !important;
}
.seat-clicked{
	background: #333333 !important;
}

 .tooltip {
    display:none;
    background:#333333;
    font-size:12px;
    border-radius: 4px;
    height:70px;
    width:160px;
    padding:25px;
    color:#eee;
  }
  .qtip-wiki{
    max-width: 385px;
	}
	.orange-button {
	padding:3px 5px;
			-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
		-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
			-webkit-border-top-left-radius:0px;
		-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
			-webkit-border-top-right-radius:0px;
		-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
			-webkit-border-bottom-right-radius:0px;
		-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
			-webkit-border-bottom-left-radius:0px;
		-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cd8a15;
}
.orange-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
	background-color:#d29105;
}.orange-button:active {
	position:relative;
	top:1px;
}
.slider-wrapper{
	padding:20px 10px;
}
.progress { position:relative; width:200px; border: 1px solid #ddd; padding: 1px;display:none}
.bar { background-color: #B4F5B4; width:0%; height:5px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; color:#333333;}
.red{color:#FF0000 !important;}
.has-js .label_check,
.has-js .label_radio { padding: 0 26px !important; }
.has-js .label_radio { background: url(../images/radio-off.png) no-repeat !important; }
.has-js .label_check { background: url(../images/check-off.png) no-repeat !important; }
.has-js label.c_on { background: url(../images/check-on.png) no-repeat !important; }
.has-js label.r_on { background: url(../images/radio-on.png) no-repeat !important; }
.has-js .label_check input,
.has-js .label_radio input { position: absolute; left: -9999px !important; }
