

@media all and (min-width: 800px) {
  body.one-page {
    padding-top: 70px; }

  .flexnav {
    
    margin:30px 0;
    overflow: visible; }
    .flexnav.opacity {
      opacity: 1; }
    .flexnav.one-page {
      top: 0;
      right: auto;
      max-width: 1080px; }
    .flexnav li {
      cursor:pointer;
      position: relative;

      list-style: none;
      float: left;
      display: block;
      margin:0 20px;
      overflow: visible;
      }
    .flexnav li a {
      border-bottom: none; 
      color:#BBBBBB;
    }
    .flexnav li a:hover{

    }
    .flexnav li > ul {
      position: absolute;
      z-index: 99999999999!important;
      top: auto;
      left: 0; }
      .flexnav li > ul li {
        width: 100%; 
        margin:0;
      }
    .flexnav li ul li > ul {
      margin-left: 100%;
      top: 0; }
    .flexnav li ul li a {
      border-bottom: none; }
    .flexnav li ul.open {
      box-shadow: 1px 0 2px 0px rgba(187, 187, 187, 0.8), -1px 0 2px 0px rgba(187, 187, 187, 0.8);
      margin:0;
      display: block;
      opacity: 1;
      visibility: visible;
      margin-top:10px;
      width:200px;
      z-index: 1; }
      .flexnav li ul.open li {
        padding:8px 0;
        background: #FFFFFF;
        z-index: 999999999999 !important;
        overflow: visible;
        max-height: 100px; }
        .flexnav li ul.open li:hover {
          background: #F0F0F0;
              -webkit-transition: background 0.5s ease-in-out;
              -moz-transition: background 0.5s ease-in-out;
              -o-transition: background 0.5s ease-in-out;
            transition: background 0.5s ease-in-out;
        }
      .flexnav li ul.open ul.open {
        margin-left: 100%;
        top: 0; }
        .flexnav li ul.open li a{
          padding:15px 10px;
        }

.flexnav li ul.open li {
  border-bottom: 1px solid #F0F0F0;
}
  .menu-button {
    display: none; } }
.oldie body.one-page {
  padding-top: 70px; }
.oldie .flexnav {
  overflow: visible; }
  .oldie .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px; }
  .oldie .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    
    width: 20%;
    min-height: 50px;
    overflow: visible; }
  .oldie .flexnav li:hover > ul {
    display: block;
    width: 100%;
    overflow: visible; }
    .oldie .flexnav li:hover > ul li {
      width: 100%;
      float: none; }
  .oldie .flexnav li a {
    border-left: 1px solid #acaca1;
    border-bottom: none;
    overflow: visible; }
  .oldie .flexnav li > ul {
    background: #acaca1;
    position: absolute;
    top: auto;
    left: 0;
    display: none;
    z-index: 1;
    overflow: visible; }
  .oldie .flexnav li ul li ul {
    top: 0; }
  .oldie .flexnav li ul li a {
    border-bottom: none; }
  .oldie .flexnav li ul.open {
    display: block;
    width: 100%;
    overflow: visible; }
    .oldie .flexnav li ul.open li {
      width: 100%; }
    .oldie .flexnav li ul.open ul.open {
      margin-left: 100%;
      top: 0;
      display: block;
      width: 100%;
      overflow: visible; }
  .oldie .flexnav ul li:hover ul {
    margin-left: 100%;
    top: 0; }
.oldie .menu-button {
  display: none; }
.oldie.ie7 .flexnav li {
  width: 19.9%; }
