


@font-face {
	font-family: 'PTSans-regular';
  src:url('../fonts/PTS55F-webfont.eot');
  src:url('../fonts/PTS55F-webfont.eot') format('embedded-opentype'),
      url('../fonts/PTS55F-webfont.woff') format('woff'),
      url('../fonts/PTS55F-webfont.ttf') format('truetype'),
      url('../fonts/PTS55F-webfont.svg') format('svg');
	-webkit-font-smoothing: antialiased;
}

/* basis font */
h1,h2,h3,h4,h5,h6{font-family: 'Signika', sans-serif !important;}
i{margin-right: 5px !important}
h1{font-size:28px !important}
h2{font-size:22px !important}
h3{font-size:20px !important}
h4{font-size:16px !important}
h5{font-size:14px !important}
h6{font-size:12px !important}
ul{
	list-style: none;	
}

a:hover{color:#333333 !important}

strong,.strong{font-weight:900 !important;}

body{font-family:'Signika',Helvetica !important;font-weight:400 !important}
p{font-family:'Signika',Helvetica !important;font-weight:400 !important}
div,section{font-family:'Signika',Helvetica !important;font-weight:400 !important}
textarea{font-family:'PTSans-regular', Helvetica !important;font-weight:400 !important}

.ptsans-regular{font-family:'Signika', Helvetica !important;}
.ptsans-regular-bold{font-family:'Signika', Helvetica !important;}

.ptsans-narrow{font-family:'Signika', Helvetica !important;}
.ptsans-narrow-bold{font-family:'Signika', Helvetica !important;}
.fs11{font-size:11px !important;}
.fs12{font-size:12px !important;}
.fs14{font-size:14px !important;}
.fs16{font-size:16px !important;}
.fs18{font-size:18px !important;}
.fs20{font-size:20px !important;}
.fs22{font-size:22px !important;}
.fs24{font-size:24px !important;}
.fs26{font-size:26px !important;}
.fs28{font-size:28px !important;}

a{color:#999999 !important;text-decoration:none !important}
a:hover,a.selected{color:#555555 !important;text-decoration:underline !important}

.clearfix{display:block;}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; margin-bottom: 0 }

.center{text-align:center !important;}
.left{text-align:left !important;}
.right{text-align:right !important;}

.pointer{cursor:pointer}
.underline{text-decoration:underline}

.radius5{
			-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	border-radius: 5px;
}

.radius10{
			-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	border-radius: 10px;
}
.circle-radius{
	border-radius: 50%;
		-webkit-border-radius:50%;
			-moz-border-radius:50%;
}
.float-left{float:left}
.float-right{float:right}

input{
	font-family:'PTSans-regular', Helvetica !important;
	font-size:14px;
	border-color: #989EA4 -moz-use-text-color #BABFC5 #AAB0B6;
  border-style: solid none solid solid;
  border-width: 1px medium 1px 1px;
	padding:3px 5px;
}

/** styling */
body{background:#F4F2F2 !important}
.full{width:100%;}
.wrapper{width:1080px;margin:auto;
border-top:2px solid #333333;
box-shadow: 1px 0 5px 0px rgba(187, 187, 187, 0.8), -1px 0 5px 0px rgba(187, 187, 187, 0.8);
position: relative;
}
.content{
	background:#FFFFFF;
	padding:10px 50px;
}

.footer-content{background:#F0F0F0;
	padding:25px 50px;
}

.headpanel{
	margin:0;
}
.right-menu{
	margin:20px 0;
}
.right-menu li{
	float:left;
	margin:0 15px;
}
.chartbox{border:1px solid #333333;padding:5px 8px}

.footer{
	background: #F0F0F0;
}

.socmed-wrapper{display: inline-block;}
.bottom{vertical-align: bottom !important;}
.top{vertical-align: top !important;}
.socmed{
	height: 48px;
	width:48px;
	float: none;
	cursor: pointer;
	padding: 20px;
	vertical-align: middle;
	display: inline-block;
	position:relative;
	margin:0 auto;
}
.socmed img{
	position:absolute;
	left:0;
			-webkit-transition: opacity 0.75s ease-in-out;
		-moz-transition: opacity 0.75s ease-in-out;
		-o-transition: opacity 0.75s ease-in-out;
	transition: opacity 0.75s ease-in-out;
	vertical-align:middle;
}
.socmed img.top:hover{
	opacity:0;
	vertical-align:middle;
}

.footer-menu{
	margin:0;
}

.end-content{
	background: #3B3B3B;
	color:#FFFFFF;
}

.productbox{
	padding:15px;
	border:1px solid #EAEAEA;
	margin:10px 8px;
}

#header
{
    float: right;
    z-index: 20;
    width: 50px;
    padding-top: 50px;
    text-align: left;
}
#header .inner {
    position: fixed;
    width: 50px;
    color:#F0F0F0;
    padding:10px;
    background: #313330;
}
#left{
	margin-top:90px;
		top: 0;
    right: 0px;
    bottom: 0;
    position: fixed;
}
.left_area{
	height:300px;
	z-index:999999 !important;
}

.contactus-wrapper{
	position: relative;
}


#contactus{
	position: fixed;
	bottom:0;
	right:90px;
	background:#11B997;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding:5px 35px;
	color:#FFFFFF;
}
img.visitor-icon{position: fixed;bottom:0;
	right:215px;z-index: 1}
.contactus-section{cursor: pointer;}
.gallerybox{
	position: relative;
	padding:10px ;
	border:1px solid #EAEAEA;
	margin:10px;
}

.gallerybox a span{
	background-image: url("zoom.png");
    background-repeat: no-repeat;
    display: none;
    height: 48px;
    left: 38%;
    position: absolute;
    top: 50px;
    width: 48px;
}
.gallerybox a img{
			-webkit-transition: all 0.75s ease-in-out;
		-moz-transition: all 0.75s ease-in-out;
		-o-transition: all 0.75s ease-in-out;
	transition: all 0.75s ease-in-out;
}
.gallerybox a:hover img{
    opacity:0.6;
    background: #000000;
    filter:alpha(opacity=60);
    		-webkit-transition: all 0.75s ease-in-out;
		-moz-transition: all 0.75s ease-in-out;
		-o-transition: all 0.75s ease-in-out;
	transition: all 0.75s ease-in-out;
}
.red{color:#FF0000 !important;}
.readmore{text-align: right}
.readmore a{color:#11B997 !important;font-family: 'PTSans-regular' !important;font-size: 13px !important}
.readmore a:hover{color:#088E71 !important;}
.product-gallery-wrapper{border:1px solid #EAEAEA;padding:10px;}

.product-wrapper{
	width: 160px;
	height: 160px;
	position: relative;
	display: block;
	background: #000000;
			-webkit-transition: all 0.75s ease-in-out;
		-moz-transition: all 0.75s ease-in-out;
		-o-transition: all 0.75s ease-in-out;
	transition: all 0.75s ease-in-out;
}
.product-wrapper div{
	color: #FFFFFF;
    position: absolute;
    text-align: center;
}
.product-wrapper a img{
			-webkit-transition: all 0.75s ease-in-out;
		-moz-transition: all 0.75s ease-in-out;
		-o-transition: all 0.75s ease-in-out;
	transition: all 0.75s ease-in-out;
}
.product-wrapper a{
    		-webkit-transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.product-wrapper a:hover{
	background: #000000;
	opacity:0.15;
    
    filter:alpha(opacity=60);
    		-webkit-transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.fixed-nav-right{
	position: fixed;
	top:150px;
	right:0;
	z-index: 9999;
}
.fixed-nav-right ul{
	list-style: none;
}
.fixed-nav-right ul li{
	cursor: pointer;
	color:#FFFFFF;
	padding:6px;
	margin:5px 0;

	background:#5E5E5E;
			-webkit-border-top-left-radius: 6px;
			-webkit-border-bottom-left-radius: 6px;
		-moz-border-radius-topleft: 6px;
		-moz-border-radius-bottomleft:6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.fixed-nav-right ul li.purple:hover{background: #580361}
.fixed-nav-right ul li.red:hover{background: #DF1F1C}
.fixed-nav-right ul li.blue:hover{background: #3B5998}
.fixed-nav-right ul li.skyblue:hover{background: #4EC2DC}
.social-streamer{z-index: 9999;height:168px;position:fixed;width:158px;right:-176px;padding:6px;top:150px;background:#FFFFFF;border:3px solid transparent;
			-webkit-border-top-left-radius: 6px;
			-webkit-border-bottom-left-radius: 6px;
		-moz-border-radius-topleft: 6px;
		-moz-border-radius-bottomleft:6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.social-streamer ul{list-style: none;margin: 0;padding: 10px}
.youtube-btn{
	
}

.berita-wrapper{border:1px solid #DEDEDE;margin:0 8px;padding:10px;}
.news-list-wrapper{border:1px solid #DEDEDE;margin:0 8px;padding:10px;}